
<div class="container">
	<div class="main-box clearfix">
		<%= render 'layouts/sidebar' %>
		<div class = "main-content">
				<h2 class="underbar">いいねしたレッスン</h2>
			<div class = "lessons-list">
				<%= render 'lessons/list', lessons: @lessons %>
			</div>
		</div>
	</div>
</div>