
<div class="container">
	<div class="main-box clearfix">
		<%= render 'layouts/sidebar' %>
		<div class = "main-content">
			<div class = "row">
				<h2 class="underbar">いいねしたレッスン</h2>
			</div>
			<%= render 'lessons/list', lessons: @lessons %>
		</div>
	</div>
</div>