<% if resource.errors.any? %>
<div class="error-message-box">
  <div class="container">
    <div class="error_explanation">
      <div class="row my-3 mx-5">
        <h4>
          <%= I18n.t("errors.messages.not_saved",
                     count: resource.errors.count,
                     resource: resource.class.model_name.human.downcase)
           %>
        </h4>
      </div>
      <div class="row mx-5">
        <ul>
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<% end %>
