<div class = "password-box">

	<h1 class = "text-center">FORGOT UR PASSWORD?</h1>
	<h5 class = "text-center">パスワードをお忘れですか?</h5>

	<h5 class = "text-center mail-for-password">ご登録メールアドレスを入力してください<br>
	パスワードの再設定のメールを送信します。</h5>

	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= render "devise/shared/error_messages", resource: resource %>

	  <div class="mail-for-password">
	    <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email",placeholder: 'メールアドレス' %>
	  </div>

	  <div class="actions">
	    <%= f.submit 'この内容で送信', class:"button-submit"%>
	  </div>
	<% end %>
</div>