
  <div id="map"></div>
<script>
  function initMap() {
    var venue = {lat: <%= lesson.latitude %>, lng: <%= lesson.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: venue
    });
    var marker = new google.maps.Marker({
      position: venue,
      map: map
    });
  }
</script>


<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API']%>&callback=initMap"
    async defer></script>