
	<div class="main-visual">
		<p class="main-visual__text">
			DoughIt
		</p>
		<p class="main-visual__sentence">
			Scroll
		</p>
		<div class="main-visual__line"></div>
	</div>
<div class = "sub-visual">
	<div class = "introduction1">
		<%= image_tag 'bread.jpg',width: '100%', class:"introduction1__bread"%>
	</div>
	<div class = "introduction1">
		<h2 class="introduction1__highlight text-center">
			What's DoughIt?
		</h2>
		<h4 class="introduction1__sentence text-center">
			生地を意味するDoughと<br>
			Do itを合わせた単語です。<br>
			お料理やお菓子などを学べる教室を探せます!<br>
			さあ、あなたも参加しよう！
		</h4>
	</div>
</div>
<div class = "sub-visual2">
	<div class = "introduction2">
		<h2 class="introduction2__highlight text-center">
			Be a cooking teacher!
		</h2>
		<h4 class="introduction2__sentence text-center">
			DoughItでは教室を開くこともできます<br>
			レッスン内容を登録すれば簡単に募集できます<br>
			あなたのスキルをみんなにシェアしよう！
		</h4>
	</div>
	<div class = "introduction2">
		<%= image_tag 'lesson.jpg',width: '100%', class:'introduction2__kitchen' %>
	</div>
</div>
<div class = "button">
	<div class="button-classic">
		<%= link_to "新規登録",new_user_registration_path, class: "button-classic-link"%>
	</div>
	<div class="button-classic">
	<%= link_to '(ポートフォリオ閲覧)', users_guest_sign_in_path, method: :post,class:'button-classic-link' %>
  </div>
</div>