<div class="container">
	<div class="main-box clearfix">
		<%= render 'layouts/sidebar' %>
		<div class = "main-content">
				<div class="row mt-5 mb-3">
					<div class = "underbar">
						<h2>作成完了</h2>
					</div>
				</div>
				<h5 class = "text-center">
					作成されたレッスンが公開されました
				</h5>
				<%= render 'detail', lesson: @lesson %>
				<div class ="link-button-sm-center">
					<%= link_to "TOPに戻る",top_path, class: "button-font" %>
				</div>
		</div>
	</div>
</div>