<div class="container">
	<%= render 'table', lesson: @lesson %>
	<%= render 'users/profile', user: @lesson.user %>
	<div class="row my-5 mx-5">
		<div class="col">
		</div>
	</div>
	<div class="comment-headline">
		<div class="comment-headline__center">
				<h3>コメント</h3>
		</div>
	</div>
	<div id = 'js-comment-list'>
		<%= render 'comments/list', lesson: @lesson %>
	</div>
	<div id = 'js-comment-form'>
		<%= render 'comments/form', lesson: @lesson %>
	</div>
</div>