<div class = "container">
	<div class="main-box clearfix">
		<%= render 'layouts/sidebar' %>
		<div class = "main-content">
			<div class="container">
					<div class = "lesson-headline">
						<% if params[:user_id] %>
							<h2><%= @user.name %> さんのレッスン</h2>
						<% else %>
							<h2>レッスン一覧</h2>
						<% end %>
					</div>
				<%= render 'searches/sort-box' %>
				<%= render 'lessons/list', lessons: @lessons %>
			</div>
		</div>
	</div>
</div>
