/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require simple_calendar
 */
@import "bootstrap";
@import "tempusdominus-bootstrap-4.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Vollkorn',"游ゴシック", serif;
}

$sub-color: #CCCCCC;
$point-color: #73716d;


ul {
  list-style: none;
}

a {
  color: $point-color;
}

a:hover {
  color: $sub-color;
  text-decoration: none;
}

.table-image {
  width: 50px;
}

// ナビゲーション

.category-bar {
  width: 100%;
  height: 50px;
  background-color: rgba(69,79,92,0.5);

  a {
    color: white;
  }
  a:hover {
    text-decoration: none;
    color: #CCCCCC;
  }
}

.sub-nav-item {
  float: right;
  

  &__icon i {
    margin: 7px;
  }
}
.sub-nav-item:first-child {

  margin-right: 200px;
}
.nav-item {
  float: right;
  padding-top: 10px;
}

.header-bell {
  position: absolute;
  width: 60px;
  &__icon {
    position: absolute;
  }

  &__badge {
    position: absolute;
    margin-top:10px;
    margin-left: 20px;
    color: $sub-color;
  }
}

// サイドバー
.main-box {
  margin: 0 auto;
  width: 100%;
  display: flex;
}


.main-content {
  width: 80%;
  float: left;
  margin-top: 40px;
}

.sidebar {
  float: left;
  width: 20%;
  margin: 50px 50px 0 0;


  &__row {
    float: none;
    &--headline {
    border-bottom : solid 2px $point-color;
    text-align: center;
    }
    &--sub-content {
      margin-left: 20px;
      border-bottom: solid 1px #EEEEEE;

      a {
        color: $point-color;
      }

      a:hover {
        color:$sub-color;
        text-decoration: none;
      }
    }

    &--content {
      border-bottom: solid 1px #EEEEEE;
      a {
        color: $point-color;
      }

      a:hover {
        color:$sub-color;
        text-decoration: none;
      }
    }
  }
}





// ページネーション

.pagination span{
  border-radius: 50%;
}
.pagination a{
  border-radius: 50%;
  background: $sub-color;
  color: #660000;
}
.pagination li {
  margin: 3.5px 7px;
}
.pagination>.active>.page-link {
  background: #73716d;
  border-radius: 50%;
}


// フッターが上がらないよう最小の高さを設定
.content {
  min-height: 600px;
}

// 右端に寄せたいボタン

.button-font {
    font-size: 25px;
    border-bottom: solid 2px #73716d;
    text-align: center;
  }


.link-button-sm-right {
  font-size: 20px;
  text-align: center;
  margin: 0 0 0 auto;
  a {
    color: #73716d;
    padding: 0 10px;
  }

  a:hover {
    text-decoration: none;
    color: #CCCCCC;
  }
}

.link-button-sm-center {
  font-size: 20px;
  text-align: center;
  margin: 20px auto;
  a {
    color: #73716d;
    padding: 0 30px;
  }

  a:hover {
    text-decoration: none;
    color: #CCCCCC;
  }
}

.button-submit {
  position: relative;
  display: block;
  width: 300px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: $point-color;
}
.button-submit:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  top:100%;
  left: 0;
  background: $point-color;
}

// エラー文
.error-message-box {
  border: 2px solid $point-color;
  border-radius: 1em;
  margin: 50px auto;
  background-color:rgba(56,43,43,0.5);
}

.underbar {
  border-bottom: 3px solid #660000;
  text-align: center;
  margin: auto;
  padding: 0 10px;
}

.heighlighter {
  border-bottom: 1px solid $point-color;
  text-align: center;
  margin: auto;
  color: $point-color;
}


// ハンバーガーメニュー

.hamburger {
  display : block;
  position: fixed;
  z-index : 3;
  right : 13px;
  top   : 12px;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}
.hamburger span {
  display : block;
  position: absolute;
  width   : 30px;
  height  : 2px ;
  left    : 6px;
  background : #555;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition   : 0.3s ease-in-out;
  transition        : 0.3s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 10px;
}
.hamburger span:nth-child(2) {
  top: 20px;
}
.hamburger span:nth-child(3) {
  top: 30px;
}

/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  background :#fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  background :#fff;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}

nav.globalMenuSp.active {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #fff;
  background: rgba(0,0,0,0.7);
  text-align: center;
  width: 100%;
  opacity: 100;
  transition: opacity .6s ease, visibility .6s ease;
  visibility: visible;
}
nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #fff;
  background: rgba(0,0,0,0.7);
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
  visibility: hidden;
}

nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  padding: 1em 0;
  text-decoration :none;
}

/* ------------------------ */
/* ------ spメニュー ------ */
/* ------------------------ */
#sp-menu {
  position: fixed;
  top: 0;
  left: 0;
  background: #000;
  color: #fff;
  width: 100%;
  min-height: 100%;
  display: none;
  z-index: 9;
}
#sp-menu li{
  text-align: center;
  margin-bottom: 30px;
}
#sp-menu a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
/* ナビ開いてる時のボタン */
.hamburger.active span:nth-child(1) {
  top : 16px;
  left: 6px;
  background :#fff;
  -webkit-transform: rotate(-45deg);
  -moz-transform   : rotate(-45deg);
  transform        : rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3) {
  top: 16px;
  background :#fff;
  -webkit-transform: rotate(45deg);
  -moz-transform   : rotate(45deg);
  transform        : rotate(45deg);
}

nav.globalMenuSp {
  position: fixed;
  z-index : 2;
  top  : 0;
  left : 0;
  color: #fff;
  background: rgba(0,0,0,0.7);
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: opacity .6s ease, visibility .6s ease;
}

nav.globalMenuSp ul {
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
  transition: .4s all;
}
nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
}
nav.globalMenuSp ul li:hover{
  background :#ddd;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #fff;
  padding: 1em 0;
  text-decoration :none;
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  opacity: 100;

}


// ヘッダーの設定
.navbar{
	width: 100%;
	height: 100px;
	background-color: $sub-color;

  &__logo {
    margin-left: 50px;
  }
}


.nav-item {
	list-style: none;
	overflow: hidden;
	padding-right: 100px;

	&__link {
		float: left;
		padding-left: 30px;

	}

	&__link a{
		color: white;

	}
}

.burger-btn{
  display: block;
  width: 39px;
  height: 39px;
  position: relative;
  z-index: 3;
  border:none;
  display: none;
}
.bar{
  width: 20px;
  height: 1px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
}
.bar_top{
  top: 10px;
}
.bar_mid{
  top: 50%;
  transform: translate(-50%,-50%);
}
.bar_bottom{
  bottom: 10px;
}

// フッターの設定
footer {
  margin-top: 100px;
  width: 100%;
  height: 150px;
  background-color: $sub-color;
  text-align: center;
  color: white;
}
.footer-logo {
	padding-top: 30px;
}


.link-center {
  margin: 0 auto;
}

.headline-center {
  margin: 0 auto;
}

// ログインページ

.header-title {
 text-align: center;
 margin: 50px 0;

}



.home-left {
  width: 50%;
  float:left;
  border-right: solid 1px $point-color;

}

.home-right {
  width: 50%;
  float:left;
}


@media screen and (max-width:425px) {

  // ナビゲーションバー 
  .navbar__logo{
    margin-left: 0;
  }

  .sub-nav-item:first-child {
  margin-right: 0;
  }
  .new-home {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .new-home > .new-child {
    width: 100%;
  }
  .home-left {
    border-right: solid 0px $point-color;
  }

  .home-right {
    margin-top: 100px;
  }

  // ログイン
  .main-box {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
  }

  .sidebar {
  float: left;
  width: 100%;
  margin: auto;

  }


  .main-content {
    width: 100%;
    float: left;
    margin-top: 40px;
  }

}
