// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



$point-color: #73716d;
	.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.new-lesson-headline {
	background-color: $point-color;

	&__text {
		color:white;
		font-size: 20px;
	}
}



// アバウトページ　
	.main-visual {
		background-image: image-url('chopstick.jpg');
		background-size: cover;
		height: 800px;
		width: 100%;
		margin-bottom: 150px;

		&__text {
		color: white;
		font-size: 200px;
		text-align: center;
		padding-top: 10%;
		}

		&__sentence {
			color: white;
			font-size: 50px;
			margin-top: 100px;
			text-align: center;
		}

		&__line {
			width: 50%;
			height: 50px;
			border-right: 1px solid white;

		}
	}

.about-page {
	width: 90%;
	margin: 0 auto;

	&__visual {
		margin: 0 auto;
	}
}
	.sub-visual {
		display: flex;
		width: 90%;
		margin: 0 auto;
		justify-content: center;
  	align-items: center;

	}
	.sub-visual > .introduction1 {
		width: 50%;
		margin: 10px;
		

		&__bread {
		max-width: 85%;
		margin: 0 auto;
		}
	}

	.sub-visual2 {
		display: flex;
		width: 90%;
		margin: 0 auto;
		justify-content: center;
  	align-items: center;
	}
	.sub-visual2 > .introduction2 {
		width: 50%;
		margin:10px;


		&__kitchen {
		width: 85%;
		height: 300px;
		margin: 0 auto;
		}
	}



	.registration-button {
		width: 160px;
		margin: 30px auto;
	}

	.border_bottom {
		border-bottom: 2px solid rgba(74,56,55,1);
		text-align: center;
	}

	.lesson-headline {
		margin-top: 30px;
	}

// ========== トップページ ============
	.top-home {
		display: flex;
		width: 100%;
		margin: 0;
	}

	.top-home > .top-child-left {
		width: 60%;
		margin: 0;
	}

	.top-home > .top-child-right {
		width: 40%;
		margin: 0;
	}

  .top-main-visual {
  	margin-top: 50px;

  	&__left {
  	margin: 0 auto;
  	}

  	&__right {
  		margin: auto;
  		width: 75%;
  	}
  }

	.main-search {
		text-align: center;
		margin-bottom: 30px;
	}
	img.top-main-img {
		max-width: 95%;
		height: auto;
	}

	.lesson-box {
		width: 90%;
		margin: 50px auto;
		display: flex;
		flex-wrap: wrap;
	}

	.lesson-box > .lesson-child {
		width: 33%;
	}
	.lesson-child {
		margin-bottom: 50px;
	}

	img.lesson-img {
		max-width: 95%;
		height: auto;
	}
	img.lesson-img:hover {
  filter: opacity(75%);
	}




.calendar-heading {
	a {
		color: $point-color;
	}
	a:hover {
			color: #CCCCCC;
			text-decoration: none;
		}
}

// レッスン詳細ページ



	.lesson-detail {
		width: 90%;
		margin: 50px auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
  	align-items: center;
	}

	.lesson-detail-text {
		width: 80%;
		margin: 0 auto;
	}

	.lesson-underbar {
		margin-top: 50px;
		border-bottom: solid 1px black ;
	}

	.profile-box {
		border: 2px solid #660000;
		width: 100%;
	}

	.lesson_button-submit {
	position: relative;
	display: block;
	width: 120px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
	color: $point-color;
}
.lesson_button-submit:before {
	position: absolute;
	content: '';
	width: 100%;
	height: 2px;
	top:100%;
	left: 0;
	background: $point-color;
}


.apologies {
	color: red;
	border-bottom: solid 1px red;
}

li {
	list-style: none;
}

.comment-headline{
	background-color:rgba(48,49,89,0.2);
	width: 80%;
	margin: 0 auto;
	text-align: center;
	border-bottom: solid 2px rgba(48,49,89,0.3);
	border-radius: 0.5em;

	&__center {
		text-align: center;
	}
}

.reservation-user {
	display: block;
  margin: 0 auto;
}

#map {
  height: 400px;
  width: 70%;
  margin: auto;
}


// 新規作成ページ

.lesson-image-box {
	margin: 0 auto;


}
.img-button {
	margin-top: 30px;
}

img#img_prev {
		max-height: 300px;
	}

#lesson_img {
	position: relative;
  display: block;
  width: 150px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  margin-left: 60%;
}

#lesson_img:before {
	color: white;
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  top:100%;
  left: 0;
}


.average-review-rating img {
	width: 30px;
}



	.button-classic {
		border: solid 1px $point-color;
		background-color: $point-color;
		width: 200px;
		padding: 15px;
		text-align: center;
		margin: 30px auto;
	}

	.button-classic-link {
		color: white;
	}

	.table-th {
		width: 140px;
	}

	.no-lessons {
		text-align: center;
		padding-top: 100px;
	}

@media screen and (max-width:768px) {
	.lesson-box {
		width: 90%;
		margin: 50px auto;
		display: flex;
		flex-wrap: wrap;
	}

	.lesson-box > .lesson-child {
		width: 50%;
	}
	.lesson-child {
		margin-bottom: 30px;
	}

	img.lesson-img {
		max-width: 95%;
		height: auto;
	}
	img.lesson-img:hover {
  filter: opacity(75%);
	}

	.lesson-detail {
		width: 100%;
		margin: 50px auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
  	align-items: center;
	}

	.lesson-detail > .lesson-detail-content {
		width: 100%;
	}

}

@media screen and (max-width:425px) {

// ＝＝＝＝＝アバウトページ＝＝＝＝＝＝＝
// メインビジュアル
	.main-visual {
		background-image: image-url('chopstick-short.jpg');
		background-size: cover;
		height: 500px;
		width: 100%;
		margin-bottom: 150px;

		&__text {
		color: white;
		font-size: 100px;
		text-align: center;
		padding-top: 15%;
		}

		&__sentence {
			color: white;
			font-size: 50px;
			margin-top: 50px;
			text-align: center;
		}

		&__line {
			width: 50%;
			height: 50px;
			border-right: 1px solid white;

		}
	}


// サブ
	.sub-visual {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin-bottom: 50px;
	}
	.sub-visual > .introduction1 {
		margin: 0;
		width: 100%;
	}


	.introduction1__sentence {
		font-size: 20px;
		}
	img.introduction1__bread {
		height: auto;
		max-width:100%;
	}



	.sub-visual2 {
		display: flex;
		flex-wrap: wrap-reverse;
		width: 100%;
		margin-bottom: 50px;
	}

	.sub-visual2 > .introduction2 {
		width: 100%;
		margin: 0;

	}


	.introduction2__sentence {
		font-size: 20px;
	}
	img.introduction2__kitchen {
		height: auto;
		max-width:100%;
	}




	// ========== トップページ ============
	.top-home {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		margin: 0;
	}

	.top-home > .top-child-left {
		width: 100%;
		margin: 0;
	}

	.top-home > .top-child-right {
		width: 100%;
		margin: 0;
	}



  .top-main-visual {
  	margin-top: 30px;

  	&__left {
  	margin: 0 auto;
  	}

  	&__right {
  		margin-top: 50px;
  		width: 95%;
  	}
  }

	.main-search {
		text-align: center;
		margin-bottom: 30px;
	}
	img.top-main-img {
		max-width: 95%;
		height: auto;
	}

	.top-child-left {
		padding-left: 20px;
	}




	.calendar-heading {
		a {
			color: $point-color;
		}
		a:hover {
				color: #CCCCCC;
				text-decoration: none;
			}
	}

	#map {
		width: 95%;
	}

	.lesson-new-headline {
		font-size: 30px;
	}

	.lesson-image-box {
		padding-left: 20px;
	}
	
	img#img_prev {
		width: 95%;
		height: 250px;
	}
	img.lesson-confirm-img {
		width: 95%;
		height: 250px;
	}

}

