// Place all the styles related to the notificatiions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.notification {
	width: 800px;
	margin: 0 auto;

	&__button {
		text-align: right;
		a {
			color: #73716d;
		}
		a:hover {
			color: #CCCCCC;
			text-decoration: none;
			}
	}
}

.notification-time {
		float: right;
	}

@media screen and (max-width:425px) {
	.notification-box {
		margin-bottom: 400px;
	}


	.notification{
		width: 100%;
	}




}