// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table-lesson {
	width: 110px;
}

.table-date {
	width: 150px;
}

.reservation-sort {
	margin-left: 50%;
	&__key {
		display: inline-block;
		font-size: 23px;

	}

	&__button {
		display: inline-block;

	}
}

