// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$sub-color: #CCCCCC;
$point-color: #73716d;
 
.profile-box-home {
	width: 100%;
	display: flex;
	border: 2px solid $point-color;
	margin: 50px auto;
	padding-bottom: 30px;
}

.profile-box-home > .profile-box-child-right {
	width: 60%;
}

.profile-box-home > .profile-box-child-left {
	width: 40%;

}

.average-review-rating {
	margin-left: 30px;
}

.profile-box-child-left {
	margin-top: 20px;
}


img.rounded-circle.profile-box-img {
	margin-left: 30px;
}

img.rounded-circle.profile-box-img:hover {
	filter: opacity(75%);
}

img.rounded-circle.img-fluid:hover {
  filter: opacity(75%);
	}


.profile-box-child-right {
	&__name {
		font-size: 30px;
		margin-top: 10px;
		text-align: center;
	}

	&__introduction {
		font-size: 20px;
		text-align: center;
	}
}

.edit-alert {
	text-align: center;
	font-size: 25px;
}


@media screen and (max-width:425px) {



}